@tailwind base;
@tailwind components;
@tailwind utilities;

div::-webkit-scrollbar
{
    width: .5rem;
    background-color: transparent;
}

div::-webkit-scrollbar-track
{
    background: theme("colors.transparent");
}


div::-webkit-scrollbar-thumb
{
    background-color: theme("colors.blue-gray.500");
}
.slick-dots{
    bottom: -35px;
    
}